# Import libraries

In [12]:
import requests as re
from bs4 import BeautifulSoup
import time

import pandas as pd


from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report, f1_score, precision_score, recall_score, accuracy_score

from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier

import seaborn as sns
import matplotlib.pyplot as plt

import warnings
warnings.filterwarnings("ignore")

# Import dataset

In [2]:
flags = pd.read_csv("flag.csv", names=['name', 'landmass', 'zone', 'area', 'population', 'language', 'religion', 
                                'bars', 'stripes', 'colours', 'red', 'green', 'blue', 'gold', 'white', 
                                'black', 'orange', 'mainhue', 'circles', 'crosses', 'saltires', 'quarters', 
                                'sunstars', 'crescent', 'triangle', 'icon', 'animate', 'text', 'topleft', 'botright'])
flags

,name,landmass,zone,area,population,language,religion,bars,stripes,colours,...,saltires,quarters,sunstars,crescent,triangle,icon,animate,text,topleft,botright
0,Afghanistan,5,1,648,16,10,2,0,3,5,...,0,0,1,0,0,1,0,0,black,green
1,Albania,3,1,29,3,6,6,0,0,3,...,0,0,1,0,0,0,1,0,red,red
2,Algeria,4,1,2388,20,8,2,2,0,3,...,0,0,1,1,0,0,0,0,green,white
3,American-Samoa,6,3,0,0,1,1,0,0,5,...,0,0,0,0,1,1,1,0,blue,red
4,Andorra,3,1,0,0,6,0,3,0,3,...,0,0,0,0,0,0,0,0,blue,red
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
189,Western-Samoa,6,3,3,0,1,1,0,0,3,...,0,1,5,0,0,0,0,0,blue,red
190,Yugoslavia,3,1,256,22,6,6,0,3,4,...,0,0,1,0,0,0,0,0,blue,red
191,Zaire,4,2,905,28,10,5,0,0,4,...,0,0,0,0,0,1,1,0,green,green
192,Zambia,4,2,753,6,10,5,3,0,4,...,0,0,0,0,0,0,1,0,green,brown
193,Zimbabwe,4,2,391,8,10,5,0,7,5,...,0,0,1,0,1,1,1,0,green,green

# EDA
Let's challenge and try to make a classification based on descriptions and characteristics of flags only, without considering geographical information, area and population

In [3]:
X = flags.iloc[:,7:]
y = flags.iloc[:,6]

Divide all features into numerical and categorical features according to their description

In [4]:
cat = ['red', 'green', 'blue', 'gold', 'white', 'black', 'orange', 'mainhue', 
       'crescent', 'triangle', 'icon', 'animate', 'text', 'topleft', 'botright']
num = ['bars', 'stripes', 'colours','circles', 'crosses', 'saltires', 'quarters', 'sunstars']
X[num].describe()

,bars,stripes,colours,circles,crosses,saltires,quarters,sunstars
count,194.000000,194.000000,194.000000,194.000000,194.000000,194.000000,194.000000,194.000000
mean,0.453608,1.551546,3.463918,0.170103,0.149485,0.092784,0.149485,1.386598
std,1.038339,2.328005,1.300154,0.463075,0.385387,0.290879,0.435860,4.396186
min,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,3.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,3.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,0.000000,3.000000,4.000000,0.000000,0.000000,0.000000,0.000000,1.000000
max,5.000000,14.000000,8.000000,4.000000,2.000000,1.000000,4.000000,50.000000

There are no obvious outliers or omissions

In [6]:
y.value_counts()

1    60
0    40
2    36
5    27
6    15
3     8
4     4
7     4
Name: religion, dtype: int64

Our target classes are not balanced, so we use stratification splitting

# Baseline
Our baseline will be Logistic Regression based on raw data and we just encode category features usind one-hot-encoder

In [53]:
X_train, X_test, y_train, y_test = train_test_split(pd.get_dummies(X, columns=['mainhue', 'topleft', 'botright'], 
                                                                   drop_first=True), 
                                                    y, test_size=0.2, stratify=y, random_state=42)
lr = LogisticRegression()
lr.fit(X_train, y_train)
lr.score(X_test, y_test)
model = lr
f"{model} - Accuracy:{round(accuracy_score(y_test, model.predict(X_test)), 5)}, Precision:{round(precision_score(y_test, model.predict(X_test), average='macro'), 5)}, Recall:{round(recall_score(y_test, model.predict(X_test), average='macro'), 5)}, F1:{round(f1_score(y_test, model.predict(X_test), average='macro'), 5)}"

'LogisticRegression() - Accuracy:0.41026, Precision:0.2027, Recall:0.21176, F1:0.20078'